@model BlogCore.Models.ViewModels.ArticuloVM

@{
    ViewData["Title"] = "Editar Artículo";
}

<div class="container mt-5">
    <h1 class="text-center">Editar Artículo</h1>

    <form method="post" asp-action="Edit" class="mt-4" enctype="multipart/form-data">
        @* enviar el id del artículo *@
        <input type="hidden" asp-for="Articulo.Id" />
        <!-- Mensaje de validación general -->
        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <!-- Sección Nombre -->
        <div class="row mb-3">
            <label asp-for="Articulo.Nombre" class="col-form-label col-sm-3 text-end">Nombre:</label>
            <div class="col-sm-9">
                <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingresa el nombre" />
                <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
            </div>
        </div>

        <!-- Sección Descripción -->
        <div class="row mb-3">
            <label asp-for="Articulo.Descripcion" class="col-form-label col-sm-3 text-end">Descripción:</label>
            <div class="col-sm-9">
                <textarea asp-for="Articulo.Descripcion" class="form-control" placeholder="Ingresa la descripción"></textarea>
                <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
            </div>
        </div>

        <!-- Sección Categoría -->
        <div class="row mb-3">
            <label for="Categoría" class="col-form-label col-sm-3 text-end">Categoría:</label>
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias, "- Seleccione una categoría -", new { @class = "form-control" })
                <span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>
            </div>
        </div>

        <!-- Sección Subida de Imagen -->
        <div class="row mb-3">
            <label asp-for="Articulo.UrlImagen" class="col-form-label col-sm-3 text-end">Imagen:</label>
            <div class="col-sm-9">
                <input type="file" class="form-control" name="archivos" id="SubidaArchivo" />
                <span asp-validation-for="Articulo.UrlImagen" class="text-danger"></span>
            </div>
        </div>

        <!-- Vista previa de la imagen -->
        <div class="row mb-3">
            <div class="col-sm-9 offset-sm-3">
                <img src="@Model.Articulo.UrlImagen" width="300px" style="border-radius: 5px; border: 1px solid #bbb9b9" alt="Vista previa de la imagen" />
            </div>
        </div>

        <!-- Botones de acción -->
        <div class="row">
            <div class="col-sm-9 offset-sm-3">
                <partial name="_VistaCrearVolver" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
