<div class="row">
    <div class="col">
        <a asp-action="Index" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i> Volver
        </a>
    </div>
        &nbsp;
     <div class="col">
        <button type="submit" class="btn btn-success  form-control">
            <i class="fa-solid fa-save"></i> Guardar
        </button>
    </div>
</div>